{
  "browser": "",
  "credentials": {
    "doctor": {
      "username": "",
      "password": ""
    },
    "user": {
      "username": "",
      "password": ""
    }
  },
  "environments": {
    "qa1": "",
    "qa2": ""
  }
}